# Core Libraries
pandas>=2.2.0
numpy>=1.26.0
python-dateutil>=2.9.0
pytz>=2025.2

# Visualization
matplotlib>=3.8.0
plotly>=6.1.2
seaborn>=0.13.2

# Web App
streamlit>=1.35.0
pydeck>=0.9.1

# API Interaction
requests>=2.32.0
etherscan-python>=2.1.0

# Jupyter Notebook Support
ipykernel>=6.29.5
jupyterlab>=4.1.0

# Other dependencies
python-dotenv>=1.1.0  # (for managing API keys as env variables, recommended)
